{% extends 'base.html' %}

{% block title %}
<title>Add Row | TechSolvo</title>
{% endblock title %}

{% block content %}
<center><a href="{% url 'home' %}">Goto Home</a></center>
<div>
    <h1>Add Row</h1>
    <form method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        {% for i in range %}
            <td><input name="input_{{i}}" placeholder="enter text"></td>
        {% endfor %}
        <input type="submit">
    </form>
</div>
{% endblock content %}