<!DOCTYPE html>
<html>
<head>
    {% block title %}<title></title>{% endblock title %}
    {% block static_files %}
    {% endblock static_files %}
</head>
<body>
	{% block content %}
	{% endblock content %}
</body>
</html>