{% extends 'base.html' %}

{% block title %}
<title>Show As Table | TechSolvo</title>
{% endblock title %}

{% block static_files %}
<style>
    #customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
</style>
{% endblock static_files %}

{% block content %}
<center><a href="{% url 'home' %}">Goto Home</a></center>
<h1>File Name -- {{file_name}}</h1>

<table id="customers">
    {% for key_name, value_list in file_content.items %}
    {% if forloop.first %}
    <tr>
        {% for value in value_list %}
        <th>{{value}}</th>        
        {% endfor %}
    </tr>
    {% else %}
    <tr>
        {% for value in value_list %}
        <td>{{value}}</td>
        {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
</table>
<a type="button" href="{% url 'update_file' file_code_name=file_code_name %}">Update File</a>
{% endblock content %}