{% extends 'base.html' %}

{% block title %}
<title>Update File | TechSolvo</title>
{% endblock title %}

{% block content %}
<center><a href="{% url 'home' %}">Goto Home</a></center>
<h1>File Name -- {{file_name}}</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="{% url 'update_file' file_code_name=file_code_name %}" method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    <table>
        {% for key_name, value_list in file_content.items %}
        <tr>
            {% for value in value_list %}
            <td><input name="row_{{forloop.parentloop.counter0}}_col_{{forloop.counter0}}" value="{{value}}"></td>
            {% endfor %}
            <td><a href="{% url 'delete_row' file_code_name=file_code_name row_num=key_name %}">Delete Row</a></td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit" id="update_file">Save Changes</button>
    <a type="button" href="{% url 'add_row' file_code_name=file_code_name %}">Add Row</a>
    <a type="button" href="{% url 'download_file' file_code_name=file_code_name %}">Downlaod File</a>
</form>
{% endblock content %}