{% extends 'base.html' %}

{% block title %}<title>Upload File</title>{% endblock title %}

{% block content %}
<h1>Upload file</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" name="excel_file">
</form>

<h1>Uploaded Files -- {{file_data_objects|length}}</h1>
<ul>
    {% for each in file_data_objects %}
    <li>
        <a href="{% url 'update_file' file_code_name=each.file_code_name %}">{{each.file_name}}</a> --> 
        <a href="{% url 'show_as_table' file_code_name=each.file_code_name %}">show as table</a>
    </li>
    {% empty %}
    <li>No files Uploaded</li>
    {% endfor %}
</ul>
{% endblock content %}